body{
    background-color: #212121;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock{
    padding: 25px 50px;
    background-color: orange;
    border-radius: 10px;
    font-size: xx-large;
}